/********* /home/ *********/

.home-section {
    width: 100%;

    margin-bottom: 35px;
}
.section-title {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 10px 0px;
    background-color: lightblue;
}
.news-section {
    /* border: 1px dotted red; */
}
.news-post-container {
    /* border: 1px dotted red; */

    margin: 5px 0px;
    padding: 15px 25px;
}
.news-post-title {
}
.news-post-content {
    /* border: 1px dotted blue; */
    margin-left: 5px;
    padding: 5px;
}
.news-post-date-posted {
    font-size: 0.7em;
    color: gray;
    margin-top: 5px;
}

.latest-content-section {
    /* border: 1px dotted blue; */
}

.latest-content {
    width: 100%;
    height: 312px;
}
.latest-content-title {
    text-align: center;
    padding: 10px 0px;

    margin-bottom: 10px;

    background-color: lightblue;
}

.livestream-section {
    /* border: 1px dotted green; */
}


#twitch-embed {
    /* border: 1px dotted purple; */
}

/* TODO - make this work */
.twitch-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}


/****************** RESPONSIVE CSS ******************/

@media only screen and (max-width: 600px) {
    .latest-content {
        height: 222px !important;
    }
}