/********* /home/ *********/

.home-section {
    width: 100%;
}
.news-section {
    border: 1px dotted red;
}

.latest-content-section {
    border: 1px dotted blue;
}

.livestream-section {
    border: 1px dotted green;
}

#twitch-embed {
    border: 1px dotted purple;
}

.twitch-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}

.latest-content {
    width: 100%;
    height: 312px;
}