body {
    background-color: #feffff;
    color: #555;  /* match bootstrap styles */
    height: 100%;
}

/* make text unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/******************* INDEX
    * headers
    * footers
    * specific page assets
    * bootstrap overrides
    * mobile responsive css
*******************/


/********* HEADERS *********/

/* image at the top of the homepage */
.header-image {
    background-image: url('../images/header_images/breath-of-the-wild.jpg');
    background-size: 100%;
    height: 300px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

/* when navbar reaches top of screen it sticks */
.navbar-sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
}

/* see bootstrap overrides section for navbar css */


/********* FOOTERS *********/

/* main footer */
.main-footer {
    height: 280px;
    margin-top: 800px;
    background-color: lightblue;
}
.footer-copyright-text {
    position: relative;
    top: 50%;
    text-align: center;
}


/********* BOOTSTRAP OVERRIDES *********/

/* navbar css */
.container-fluid {
    background-color: #feffff !important;
}
.navbar-default {
    box-shadow: 2px 2px 6px lightblue;
}
.navbar-brand, .navbar-nav>li>a {
    color: #555 !important;
    /* border: 1px dotted red; */
    height: 100%;
    padding: 25px 40px !important;
}
.navbar-brand {
    font-size: 1.3em;
}
.navbar-nav>li>a {
    font-size: 1.1em;
}
.navbar-nav>li>a:hover {
    background-color: lightblue !important;
}


/********* FOR MOBILE PHONES *********/

@media only screen and (max-width: 600px) {

    .coming-soon-panel {
        width: 60%;
        margin-left: 20%;
        margin-top: 20%;
    }

    /* change size of header image to fit image dimensions */
    .header-image {
        height: 200px;
    }

    /* revert to bootstrap standards (overriding overrides) */
    .navbar-brand, .navbar-nav>li>a {
        padding: 15px !important;
    }
}