/* please excuse the mess
 * this file is being worked on by three different people
 * bellydrum, squideon, and wacky280
 * started August 2018 by bellydrum
 * index should help you find everything
 * please only add css
 * please don't reorganize or change the structure
 * otherwise pay me back for the adderall it took
 */


/****************** INDEX
    * global                (sitewide style settings)
    * headers               (top of page)
    * footers               (bottom of page)
    * page-specific assets  (elements unique to certain pages)
    * bootstrap overrides   (for making changes to default bootstrap settings)
    * responsive css        (for mobile-specific styles)
******************/


/****************** GLOBAL ******************/

body {
    background-color: #feffff;
    color: #555;  /* match bootstrap styles */
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

/* make text unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    flex: 0 1 auto;
}


/****************** HEADERS ******************/

/* image at the top of the homepage */
.header-image {
    background-image: url('../images/header_images/breath-of-the-wild.jpg');
    background-size: 100%;
    height: 300px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

/* when navbar reaches top of screen it sticks */
/* TODO: seems to have trouble in Safari */
.navbar-sticky {
    position: sticky;
    top: 0px;
    z-index: 100;
}

/* see bootstrap overrides section for navbar css */


/****************** FOOTERS ******************/

/* main footer */
.main-footer {
    height: 280px;
    margin-top: 800px;
    background-color: lightblue;
}
.footer-copyright-text {
    position: relative;
    top: 50%;
    text-align: center;
}


/****************** PAGE-SPECIFIC ASSETS ******************/


/********* /about_us/ *********/

/* about_us.css
 *      .about-us-grid
 *      .bio-card
 *      .bio-card-links
 *      .bio-card-info-container
 *      .bio-card-text
 *      .bio-card-text-blur
 */



/****************** BOOTSTRAP OVERRIDES ******************/

/* navbar css */
.container-fluid {
    background-color: #feffff !important;
}
.navbar-default {
    box-shadow: 2px 2px 6px lightblue;
}
.navbar-brand, .navbar-nav>li>a {
    color: #555 !important;
    height: 100%;
    padding: 25px 40px !important;
}
.navbar-brand {
    font-size: 1.3em;
}
.navbar-nav>li>a {
    font-size: 1.1em;
}
.navbar-nav>li>a:hover {
    background-color: lightblue !important;
}


/****************** RESPONSIVE CSS ******************/

/* pretty much for all mobile devices except iPads (large screens) */
@media only screen and (max-width: 600px) {


    /****************** GLOBAL ******************/
    
    .grid-container {
        grid-template-columns: auto;
    }


    /****************** HEADERS ******************/

    /* change size of header image to fit image dimensions */
    .header-image {
        height: 200px;
    }
`

    /****************** FOOTERS ******************/


    /****************** PAGE-SPECIFIC ASSETS ******************/

    /********* /about_us/ *********/

    /* more can be found in about_us.css */


    /****************** BOOTSTRAP OVERRIDES ******************/

    /* revert to bootstrap standards (overriding overrides) */
    .navbar-brand, .navbar-nav>li>a {
        padding: 15px !important;
    }
}