{% load static %}

<!-- template for bio cards on the /aboutus/ page -->
<a class="bio-card-anchor" href="{% url 'about_member' member.username %}">
    <!-- these background-image filepaths must be hardcoded -->
    <!-- this will break if bio_card.html or any of the bio_image files are moved -->
    <div class='bio-card bio-card-{{ member.username }}' style="background-image: url('../../static/images/bio_images/{{ member.username }}_bio_image.jpg')">
        <div class='bio-card-info-container'>
            <div class='bio-card-text-blur' style="background-image: url('../../static/images/bio_images/{{ member.username }}_bio_image.jpg')"></div>
            <div class="bio-card-text">
                <h5>{{ member.username }}</h5>
                <p class="bio-card-title">{{ member.role }}</p>
            </div>
        </div>
    </div>
</a>