{% load static %}

{% for member in members %}
<!-- template for bio cards on the /aboutus/ page -->
<a href="{% url 'about_member' member.username %}">
    <div class='bio-card bio-card-{{ member.username }}'>
        <div class='bio-card-info-container'>
            <div class='bio-card-text-blur'></div>
            <div class="bio-card-text">
                <h5>{{ member.username }}</h5>
                <p class="bio-card-title">{{ member.role }}</p>
            </div>
        </div>
    </div>
</a>
{% endfor %}