{% load static %}
<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card'>
        <div class='bio-card-info-container'>
            <div class='bio-card-text-blur'></div>
            <div class="bio-card-text">
                <h5>bellydrum</h5>
                <p class="bio-card-title">Switch Game Collector</p>
                <p class="bio-card-links">
                    <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
                </p>
            </div>
        </div>
    </div>