{% load static %}

<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card bio-card-squideon'>
    <div class='bio-card-info-container'>
        <div class='bio-card-text-blur'></div>
        <div class="bio-card-text">
            <h5>squideon</h5>
            <p class="bio-card-title">General Dork</p>
            <p class="bio-card-links">
                <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
            </p>
        </div>
    </div>
</div>

<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card bio-card-stringer'>
    <div class='bio-card-info-container'>
        <div class='bio-card-text-blur'></div>
        <div class="bio-card-text">
            <h5>stringer</h5>
            <p class="bio-card-title">Zelda Lord</p>
            <p class="bio-card-links">
                <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
            </p>
        </div>
    </div>
</div>

<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card bio-card-bellydrum'>
    <div class='bio-card-info-container'>
        <div class='bio-card-text-blur'></div>
        <div class="bio-card-text">
            <h5>bellydrum</h5>
            <p class="bio-card-title">Collector Nerd</p>
            <p class="bio-card-links">
                <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
            </p>
        </div>
    </div>
</div>

<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card bio-card-wacky280'>
    <div class='bio-card-info-container'>
        <div class='bio-card-text-blur'></div>
        <div class="bio-card-text">
            <h5>wacky280</h5>
            <p class="bio-card-title">Athletic Geek</p>
            <p class="bio-card-links">
                <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
            </p>
        </div>
    </div>
</div>

<!-- template for bio cards on the /aboutus/ page -->
<div class='bio-card bio-card-kennzoil'>
    <div class='bio-card-info-container'>
        <div class='bio-card-text-blur'></div>
        <div class="bio-card-text">
            <h5>kennzoil</h5>
            <p class="bio-card-title">Chiptune Guy</p>
            <p class="bio-card-links">
                <a href="https://twitch.tv/b3llydrum">Twitch</a>|<a href="https://www.youtube.com/channel/UCTfrzXXW_dNTYaCQBEFR6dg">YouTube</a>
            </p>
        </div>
    </div>
</div>