{% load static %}

Username: {{ member.username }}<br>
{% if member.birthday %}
    Birthday: {{ member.birthday|date:'F d' }}<br>
{% endif %}
Role: {{ member.role }}<br>
Favorite Nintendo Series: {{ member.favorite_nintendo_series }}<br>
Favorite Non-tendo Series: {{ member.favorite_non_nintendo_series }}<br>
<br>
{% if pokemon_team %}
    Pokemon team:
    <ul>
        <li>{{ pokemon_team.pokemon_1_dex_id }}</li>
        <li>{{ pokemon_team.pokemon_2_dex_id }}</li>
        <li>{{ pokemon_team.pokemon_3_dex_id }}</li>
        <li>{{ pokemon_team.pokemon_4_dex_id }}</li>
        <li>{{ pokemon_team.pokemon_5_dex_id }}</li>
        <li>{{ pokemon_team.pokemon_6_dex_id }}</li>
    </ul>
{% endif %}
<br>
{% if social_media %}
    Social Media links:
    <ul>
        {% if social_media.youtube_url %}
            <li>
                <a href="{{ social_media.youtube_url }}">YouTube</a>
            </li>
        {% endif %}
        {% if social_media.twitter_url %}
            <li>
                <a href="{{ social_media.twitter_url }}">Twitter</a>
            </li>
        {% endif %}
        {% if social_media.twitch_url %}
            <li>
                <a href="{{ social_media.twitch_url }}">Twitch</a>
            </li>
        {% endif %}
        {% if social_media.soundcloud_url %}
            <li>
                <a href="{{ social_media.soundcloud_url }}">SoundCloud</a>
            </li>
        {% endif %}
        {% if social_media.favorite_switch_clip_url %}
            <li>
                <a href="{{ social_media.favorite_switch_clip_url }}">Favorite Switch clip</a>
            </li>
        {% endif %}
    </ul>
{% endif %}